{{define "articleOrganizer"}}
    <br><br>
      <div class="breadcrumb">
        <h4>Equipo organizador del congreso</h4>
      </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">


        <div class="col-md-6" align="center">
          <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="0.8s">
              <br> <br> <br> <br>  <br> <br> <br> <br>
            <img src="http://localhost:8080/static/img/logo.jpg" alt="" class="img-responsive">
          </div>
        </div>
      
        <div class="col-md-6" id="conferencistas">
          <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="1.3s">
            <div class="list-group" >
              <a class="list-group-item active" align="center" >
                <h4 class="list-group-item-heading" style="font-size: 25px;">Lista de los organizadores</h4>
                <p class="list-group-item-text">
                </p>
              </a>
              <div class="list-group-item">
                <h4 class="list-group-item-heading">Presidente</h4>
                <p class="list-group-item-text">Dr. Alberto Quintero - Rector de la UNELLEZ.
                </p>
              </div>
              <div class="list-group-item">
                <h4 class="list-group-item-heading">Coordinador General</h4>
                <p class="list-group-item-text">Ign. Jesús Guevara - Jefe de Subprograma de Ing. Petróleo. 
                </p>
              </div>
              <div class="list-group-item">
                <h4 class="list-group-item-heading">Comité Organizador</h4>
                <p class="list-group-item-text">
                    Ing. María Isabel Fonseca,
                    Ing. Martín Maldonado,
                    Ing. José Chacón,
                    Ing. Naileth Barrueta.
                </p>
              </div>
              <div class="list-group-item">
                <h4 class="list-group-item-heading">Comité de logística</h4>
                <p class="list-group-item-text">Ing. Alberto Sierra.
                  
                </p>
              </div>
              <div class="list-group-item">
                <h4 class="list-group-item-heading">Comité Técnico</h4>
                <p class="list-group-item-text">
                  Lic. Marcos Quintero,
                  Ing. Sharon Escalante,
                  Ing. Jaime Torres.
                </p>
              </div>
              <div class="list-group-item">
                <h4 class="list-group-item-heading">Comité de Registro</h4>
                <p class="list-group-item-text">
                  Ing. Olga Hidalgo,
                  Ing. Yordhis Osuna.
                </p>
              </div>
              <div class="list-group-item">
                <h4 class="list-group-item-heading">Comité de Relaciones Interinstitucionales</h4>
                <p class="list-group-item-text">
                  Abg. Yeisson Peréz,
                  Ing. María Millan.
                </p>
              </div>
              <div class="list-group-item">
                <h4 class="list-group-item-heading">Comité de Protocolo</h4>
                <p class="list-group-item-text">
                  Ing. Karla Goncalves.
                </p>
              </div>
              <div class="list-group-item">
                <h4 class="list-group-item-heading">Comité de Cultura</h4>
                <p class="list-group-item-text">
                  Ing. Mireya La Madriz,
                  Ing. Estefany Betancourt.
                </p>
              </div> 
            </div>
          </div>
        </div> 
        

      </div>
    </div>
  </div>
{{end}}