{{define "articleCoach"}}

     <div class="breadcrumb">
    <h4>Conferencistas</h4>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
      
        <div class="col-md-6" id="conferencistas">
          <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="1.3s">
            <div class="list-group">
              <a  class="list-group-item active">
                <h4 class="list-group-item-heading"></h4>
                <p class="list-group-item-text">Las conferencias seran dictadas por instituciones expertas en el área.
                </p>
              </a>
              <div class="list-group-item">
                <h4 class="list-group-item-heading">Conferencista </h4>
                <p class="list-group-item-text">Complejo Petroquímico Hugo Chávez Frías (Morón) Edo. Carabobo (Pequiven)
                </p>
              </div>
              <div class="list-group-item">
                <h4 class="list-group-item-heading">Conferencista </h4>
                <p class="list-group-item-text">Ing Luis Osuna
                División Boyacá de PDVSA
                </p>
              </div>
              <div class="list-group-item">
                <h4 class="list-group-item-heading">Conferencista </h4>
                <p class="list-group-item-text">Complejo Petroquímico Hugo Chávez Frías (Morón) Edo. Carabobo (Pequiven)
                </p>
              </div>
              <div class="list-group-item">
                <h4 class="list-group-item-heading">Conferencista </h4>
                <p class="list-group-item-text">Ing. Marcos Cárdenas
                  Ing. Ambiental Universidad Nacional Experimental del Táchira
                </p>
              </div>
              <div class="list-group-item">
                <h4 class="list-group-item-heading">Conferencista </h4>
                <p class="list-group-item-text">Ing. Carlos Alvarado
                    Desarrollo de Yacimientos del Distrito Barinas PDVSA División Boyacá
                </p>
              </div>
              <div class="list-group-item">
                <h4 class="list-group-item-heading">Conferencista </h4>
                <p class="list-group-item-text">Complejo Petroquímico Ana María Campos (El Tablazo) Edo. Zulia (Pequiven)
                </p>
              </div>
              <div class="list-group-item">
                <h4 class="list-group-item-heading">Conferencista </h4>
                <p class="list-group-item-text">Complejo Petroquímico Antonio José de Sucre (Jose) Edo. Anzoátegui (Pequiven)
                </p>
              </div>
              <div class="list-group-item">
                <h4 class="list-group-item-heading">Conferencista </h4>
                <p class="list-group-item-text">Subprograma de Licenciatura de Meteorología UNELLEZ
                </p>
              </div>
              
            </div>
          </div>
        </div>
        

        <br> <br> 

        <div class="col-md-6" align="center">
          <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="0.8s">
            
            <img src="http://localhost:8080/static/img/9.jpg" alt="" class="img-responsive">
          </div>
        </div>
        <div class="col-md-6" align="">
          <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="0.8s">

              <p class="col-md-6" align="center">
                <br> <br> <br> <br>
                <img src="http://localhost:8080/static/img/petroleo.jpg" alt="" class="img-responsive"  style="width: 230px; height: 230px;">
                
              </p>
              <p class="col-md-6 subtitulo-tabla">
                <b>¿Sabias que?</b><br><br>
                La industria petroquímica emplea ante todo como materias primas básicas las olefinas y los aromáticos obtenidos a partir del gas natural y de los productos de refinación del petróleo: el etileno, propileno, butilenos, y algunos pentenos entre las olefinas, y el benceno, tolueno y xilenos como hidrocarburos aromáticos.

              </p>
          </div>
        </div>

         
          
        </div>
      </div>
    </div>

{{end}}