{{ define "header" }}
    <!DOCTYPE html>
    <html lang="es">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/jpg" href="http://localhost:8080/static/img/logo.jpg" >
        <title>Congreso - Petroquímica</title>

        <!-- Bootstrap -->

        
        <link href="http://localhost:8080/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="http://localhost:8080/static/css/responsive-slider.css" rel="stylesheet">
        <link rel="stylesheet" href="http://localhost:8080/static/css/animate.css">
        <link rel="stylesheet" href="http://localhost:8080/static/css/font-awesome.min.css">
        <link href="http://localhost:8080/static/css/styles.css" rel="stylesheet">
    </head>

    <body>
        <header>
            <div class="container">
                <div class="row">
                    <nav class="navbar navbar-default" role="navigation">
                    <div class="container-fluid ">
                        <div class="navbar-header">
                        <div class="navbar-brand">
                            <a href="index.php"><h1>Congreso</h1></a>
                            <a href="#" class="ocultar"><img src="http://localhost:8080/static/img/logo.jpg" style="width: 70px; height: 70px; margin: -100px 10px;"></a>
                            <a href="#" class="ocultar"><img src="http://localhost:8080/static/img/piat.jpg" style="width: 80px; height: 80px; margin: -100px 10px;"></a>
                            <a href="#" class="ocultar"><img src="http://localhost:8080/static/img/petroleo.jpg" style="width: 80px; height: 80px; margin: -100px 10px;"></a>
                            
                        </div>
                        </div>
                        <div class="menu menu">
                        <ul class="nav nav-tabs " role="tablist">
                            <li role="presentation" class="active"><a href="index.php">Inicio</a></li>
                            <li role="presentation"><a href="#congreso">Congreso</a></li>
                            <li role="presentation"><a href="#conferencistas">Conferencistas</a></li>
                            
                            <!--<li role="presentation"><a href="contact.php">Contactanos</a></li>-->
                            
                        </ul>
                        </div>
                    </div>
                    </nav>
                </div>
            </div>
        </header>


        
{{ end }}