{{ define "home"}}


{{ template "header" }}

    <!--slider-->
        <div class="slider">
            <div id="about-slider">
                <div id="carousel-slider" class="carousel slide" data-ride="carousel" >
                <div class="carousel-inner" id="ins" >
                
                <div class="item active">
                    <img src="img/9.jpg" class="img-responsive" alt="">
                    <div class="carousel-caption">
                    <div class="wow fadeInUp" style="background: rgba(0,0,0,0.5);" data-wow-offset="0" data-wow-delay="0.3s">
                        <h2><span>1er CONGRESO NACIONAL DE PETROQUÍMICA <br>UNELLEZ 2019</span></h2>
                        
                    </div>

                    <div class="col-md-10 col-md-offset-1 ocultar">
                        <div class="wow fadeInUp " data-wow-offset="0" data-wow-delay="0.6s">
                        <p>No te lo pierdas, ¡inscríbete ya!</p>
                        </div>
                    </div>

                    <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.9s">
                        <form class="form-inline">
                        
                        <div class="form-group" >
                            <a href="inscripcion.php" target="" class="btn btn-primary btn-lg btn-getnow">Inscribirse</a>
                        </div>
                        
                        </form>
                    
                    </div>
                    </div>

                </div>

                    <div class="item">
                    
                        <form class="form-inline">
                        <!--<div class="form-group">
                            <a href="#" target="_blank" class="btn btn-primary btn-lg btn-livedemo">Inscribirse</a>
                        </div>-->
                        <div class="form-group">
                            <a href="/record" target="" class="btn btn-primary btn-lg btn-getnow">Inscribirse</a>
                        </div>
                        </form>
                    </div>
                
                
                </div>
                
            </div>
            <!--/#carousel-slider-->
            </div>
            <!--/#about-slider-->
        </div>
        <!--/#slider-->



  <div class="content" id="congreso">
    <h2><span>DESCRIPCIÓN DEL CONGRESO</span></h2>
    <p style="font-size: 24px;" align="left" >    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;El 1er Congreso Nacional de Petroquímica UNELLEZ 2019, con el objetivo de generar espacios de debate y discusión para la apertura del programa de formación de Ingeniería Petroquímica en una filosofía cónsona con la producción de soluciones petroquímicas sustentables en el sector petrolero, tecnológico y agroindustrial que impulsen el desarrollo regional y nacional. </p>
  </div>

              <div class="content" style="background-image: url('img/bannerForm.png'); background-repeat: no-repeat; background-color: white; background-position: center;">
                <a id="pdf"></a>
                <form action="dist/index.php" method="post" class="form-inline">
                  <img src="img/iconCertificado2.png" width="200" height="200" style="">
                  
                  <div class="form-group" >
                      <h2>Generador de Certificados</h2>
                      <input type="number" name="cedula" placeholder="Ingrese su cédula" class="form-control"> 
                      <button class="btn btn-primary">Generar</button>  
                  </div>
                  
                </form>
              </div>

  <div class="container"><br>
    <!--Folleto del congreso-->
        <div class="col-md-7">
          <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="">
            <img src="img/poster.jpg" alt="" class="img-responsive">
          </div>
        </div>
    <!--Tabla de actividades del congreso-->
        <div class="col-md-5">
            <table class="table">
                <thead>
                  <tr align="center">
                    <td colspan="2" class="titulo-tabla">Cronograma</td>
                  </tr>
                </thead>
                <tbody>
                  <!--DIA UNO-->
                  <tr align="center" class="subtitulo-tabla" >
                    <td>Hora</td>
                    <td>Martes 05 de Noviembre 2019</td>
                    
                  </tr>

                  <tr>
                    <td>8:00am</td>
                    <td><b>Acto de Inauguración</b></td>
                  </tr>

                  <tr>
                    <td>9:30am</td>
                    <td><b>Conferencia</b></td>
                  </tr>

                  <tr>
                    <td>10:30am</td>
                    <td><b>Conferencia</b></td>
                  </tr>

                  <tr>
                    <td>12:00m</td>
                    <td><b>Receso</b></td>
                  </tr>

                  <tr>
                    <td>2:00pm</td>
                    <td><b>Conferencia</b></td>
                  </tr>

                  <tr>
                    <td>3:00pm</td>
                    <td><b>Ponencia</b></td>
                  </tr>

                  <!--DIA DOS-->

                    <tr align="center" class="subtitulo-tabla">
                      <td>Hora</td>
                      <td>Miercoles 06 de Noviembre 2019</td>
                    </tr>

                    <tr>
                      <td>8:00am</td>
                      <td><b>Conferencia</b></td>
                    </tr>

                    <tr>
                      <td>9:30am</td>
                      <td><b>Conferencia</b></td>
                    </tr>

                    <tr>
                      <td>10:30am</td>
                      <td><b>Conferencia</b></td>
                    </tr>

                    <tr>
                      <td>12:00m</td>
                      <td><b>Receso</b></td>
                    </tr>

                    <tr>
                      <td>2:00pm</td>
                      <td><b>Conferencia</b></td>
                    </tr>



                </tbody>
                <tfoot>
                  <tr class="titulo-tabla">
                    <td colspan="2"></td>
                  </tr>
                </tfoot>
              
            </table>
        </div>

        <!--NORMATIVAS-->

          <div class="col-lg-5" >
            <label>Descarga las normativas del congreso</label>
             <a href="img/NORMATIVAS.pdf" download> 
                <img src="img/normativa.jpg" alt="normativas" style="width: 100px;" >
             </a>
          </div>

          <!--TWITTER-->

           <div class="col-lg-5">
            <label>Visita nuestro Twitter y mantente informado<br> de todo lo que sucede en el evento</label>
             <a href="https://twitter.com/CongresoPetroq1" target="_blank"> 
                <img src="img/t.png" alt="twitter" style="width: 100px;" >
             </a>
          </div>

  </div><br>
 
  <div class="breadcrumb">
    <h4>Conferencistas</h4>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
      
        <div class="col-md-6" id="conferencistas">
          <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="1.3s">
            <div class="list-group">
              <a  class="list-group-item active">
                <h4 class="list-group-item-heading"></h4>
                <p class="list-group-item-text">Las conferencias seran dictadas por instituciones expertas en el área.
                </p>
              </a>
              <div class="list-group-item">
                <h4 class="list-group-item-heading">Conferencista </h4>
                <p class="list-group-item-text">Complejo Petroquímico Hugo Chávez Frías (Morón) Edo. Carabobo (Pequiven)
                </p>
              </div>
              <div class="list-group-item">
                <h4 class="list-group-item-heading">Conferencista </h4>
                <p class="list-group-item-text">Ing Luis Osuna
                División Boyacá de PDVSA
                </p>
              </div>
              <div class="list-group-item">
                <h4 class="list-group-item-heading">Conferencista </h4>
                <p class="list-group-item-text">Complejo Petroquímico Hugo Chávez Frías (Morón) Edo. Carabobo (Pequiven)
                </p>
              </div>
              <div class="list-group-item">
                <h4 class="list-group-item-heading">Conferencista </h4>
                <p class="list-group-item-text">Ing. Marcos Cárdenas
                  Ing. Ambiental Universidad Nacional Experimental del Táchira
                </p>
              </div>
              <div class="list-group-item">
                <h4 class="list-group-item-heading">Conferencista </h4>
                <p class="list-group-item-text">Ing. Carlos Alvarado
                    Desarrollo de Yacimientos del Distrito Barinas PDVSA División Boyacá
                </p>
              </div>
              <div class="list-group-item">
                <h4 class="list-group-item-heading">Conferencista </h4>
                <p class="list-group-item-text">Complejo Petroquímico Ana María Campos (El Tablazo) Edo. Zulia (Pequiven)
                </p>
              </div>
              <div class="list-group-item">
                <h4 class="list-group-item-heading">Conferencista </h4>
                <p class="list-group-item-text">Complejo Petroquímico Antonio José de Sucre (Jose) Edo. Anzoátegui (Pequiven)
                </p>
              </div>
              <div class="list-group-item">
                <h4 class="list-group-item-heading">Conferencista </h4>
                <p class="list-group-item-text">Subprograma de Licenciatura de Meteorología UNELLEZ
                </p>
              </div>
              
            </div>
          </div>
        </div>
        

        <br> <br> 

        <div class="col-md-6" align="center">
          <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="0.8s">
            
            <img src="img/9.jpg" alt="" class="img-responsive">
          </div>
        </div>
        <div class="col-md-6" align="">
          <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="0.8s">

              <p class="col-md-6" align="center">
                <br> <br> <br> <br>
                <img src="img/petroleo.jpg" alt="" class="img-responsive"  style="width: 230px; height: 230px;">
                
              </p>
              <p class="col-md-6 subtitulo-tabla">
                <b>¿Sabias que?</b><br><br>
                La industria petroquímica emplea ante todo como materias primas básicas las olefinas y los aromáticos obtenidos a partir del gas natural y de los productos de refinación del petróleo: el etileno, propileno, butilenos, y algunos pentenos entre las olefinas, y el benceno, tolueno y xilenos como hidrocarburos aromáticos.

              </p>
          </div>
        </div>

         
          
        </div>
      </div>
    </div>


      


  <br><br>

<!-- ORGANIZADORES-->

      <div class="breadcrumb">
        <h4>Equipo organizador del congreso</h4>
      </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">


        <div class="col-md-6" align="center">
          <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="0.8s">
              <br> <br> <br> <br>  <br> <br> <br> <br>
            <img src="img/logo.jpg" alt="" class="img-responsive">
          </div>
        </div>
      
        <div class="col-md-6" id="conferencistas">
          <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="1.3s">
            <div class="list-group" >
              <a class="list-group-item active" align="center" >
                <h4 class="list-group-item-heading" style="font-size: 25px;">Lista de los organizadores</h4>
                <p class="list-group-item-text">
                </p>
              </a>
              <div class="list-group-item">
                <h4 class="list-group-item-heading">Presidente</h4>
                <p class="list-group-item-text">Dr. Alberto Quintero - Rector de la UNELLEZ.
                </p>
              </div>
              <div class="list-group-item">
                <h4 class="list-group-item-heading">Coordinador General</h4>
                <p class="list-group-item-text">Ign. Jesús Guevara - Jefe de Subprograma de Ing. Petróleo. 
                </p>
              </div>
              <div class="list-group-item">
                <h4 class="list-group-item-heading">Comité Organizador</h4>
                <p class="list-group-item-text">
                    Ing. María Isabel Fonseca,
                    Ing. Martín Maldonado,
                    Ing. José Chacón,
                    Ing. Naileth Barrueta.
                </p>
              </div>
              <div class="list-group-item">
                <h4 class="list-group-item-heading">Comité de logística</h4>
                <p class="list-group-item-text">Ing. Alberto Sierra.
                  
                </p>
              </div>
              <div class="list-group-item">
                <h4 class="list-group-item-heading">Comité Técnico</h4>
                <p class="list-group-item-text">
                  Lic. Marcos Quintero,
                  Ing. Sharon Escalante,
                  Ing. Jaime Torres.
                </p>
              </div>
              <div class="list-group-item">
                <h4 class="list-group-item-heading">Comité de Registro</h4>
                <p class="list-group-item-text">
                  Ing. Olga Hidalgo,
                  Ing. Yordhis Osuna.
                </p>
              </div>
              <div class="list-group-item">
                <h4 class="list-group-item-heading">Comité de Relaciones Interinstitucionales</h4>
                <p class="list-group-item-text">
                  Abg. Yeisson Peréz,
                  Ing. María Millan.
                </p>
              </div>
              <div class="list-group-item">
                <h4 class="list-group-item-heading">Comité de Protocolo</h4>
                <p class="list-group-item-text">
                  Ing. Karla Goncalves.
                </p>
              </div>
              <div class="list-group-item">
                <h4 class="list-group-item-heading">Comité de Cultura</h4>
                <p class="list-group-item-text">
                  Ing. Mireya La Madriz,
                  Ing. Estefany Betancourt.
                </p>
              </div> 
            </div>
          </div>
        </div> 
        

      </div>
    </div>
  </div>


  {{ template "footer" }}
{{end}}