{{ define "home"}}


  {{ template "header" }}

  {{template "slider"}}

  <!-- CRONOGRAMA Y NORMATIVAS -->
    {{template "articleOne"}}

  <!--COFERENCISTAS-->
    {{template "articleCoach"}}

  <!-- ORGANIZADORES-->
    {{template "articleOrganizer"}}
  


  {{ template "footer" }}
{{end}}